<!--Include header file-->
<%- include('../include/_header')%>
<h1>
  <table style="width:90%">
    <thead>
      <p>The user information</p>
      <a href="/add_user" class="btn btn-xs btn-default">Add New User<span class="glyphicon glyphicon-edit"></span></a>
    </thead>
    <tbody>
    <tr>
      <th>Numbering</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  <%for(let i=0;i<users.length;i++){%>
  <tr>
    <td><%=i+1%></td>
    <td><%=users[i].name%></td>
    <td><%=users[i].email%></td>
    <td><%=users[i].role%></td>
    <td>
      <a href="/edit_user?id=<%= users[i]._id%>" class="btn btn-xs btn-default"><i class='fa fa-edit' style='font-size:38px;color:blue'></i></a>
      <a class="deletebtn" data-id="<%= users[i]._id%>"><i class="fa fa-trash-o" style="font-size:48px;color:red;cursor: no-drop;"></i> </a>



    </td>
  </tr>
  <%}%>
  </tbody>

  </table>
</h1>
<!--Include footer file-->
<%- include('../include/_footer')%>
